
.highestscore{
  width: 330px;
  height:160px;
  background-color: black;
  line-height: 50px;
  font-size: 50px;
  color: white;
  margin: 20px;

}


.cardwrapper {

  width: 300px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  

}


.colorCard {
  margin-top: 900px;
  height: 150px;
  width: 150px;
  flex-wrap: wrap;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
}

.startButton {
  position: absolute;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  top: 60%;
  left: 580px;
}

.score {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
  top: 57%;
  left: 580px;
  color: white;
}

.lost {
  position: absolute;
  width: 300px;
  height:170px;
  background-color: black;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 500px;
  top: 55%;
  color: white;
} 




.green.flash {
  border: 3px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: green;
}

.red.flash{
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 250px 0 0;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: red;
}

.yellow.flash{
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 0 250px;
  -moz-border-radius: 0 0 0 250px;
  -webkit-border-radius: 0 0 0 250px;
  top: 50%;
  left: 50%;
  margin: 100px -250px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: yellow;
}

.blue.flash{
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 250px 0;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0;
  top: 50%;
  left: 50%;
  margin: 100px 0px -250px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: blue;
}

.red {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 250px 0 0;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: darkred;


}

.blue {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 250px 0;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0;
  top: 50%;
  left: 50%;
  margin: 100px 0px -250px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: darkblue;

}

.green {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: darkgreen;
  
}

.yellow {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 0 250px;
  -moz-border-radius: 0 0 0 250px;
  -webkit-border-radius: 0 0 0 250px;
  top: 50%;
  left: 50%;
  margin: 100px -250px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: goldenrod;
}



