

h1,h2 {
    color: rgb(224, 224, 167);
    text-shadow: 0 0 3px black;
    display: block;
    text-align: center;

}

.loginpage {
    text-align: center;
}

.registerpage {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.logoutword a:link {
  text-decoration: none;
  color: white;
}

.logoutword a:visited {
  text-decoration: none;
  color: white;
}

#pic {
    max-width: 30%;  
    max-height: 30%; 
    position: absolute; 
    top: 530px; 
    left: -300px;
    animation-duration: 5s; 
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
      margin-left: 0%;
    }
  
    to {
      margin-left: 50%;
    }
  }

.feature-container{
  width: 900px;
  height: 350px;
  background-color: lightgoldenrodyellow;
  margin-top: 60px;
  margin-left: 600px;
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    max-width: 470px;
    max-height: 500px;
    background: rgb(52, 50, 71);
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    top: 100px;
    left: 700px;
  }
  
  
  .bubble-bottom-left:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 24px solid rgb(52, 50, 71);
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(52, 50, 71);
    border-bottom: 20px solid transparent;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent rgb(52, 50, 71) transparent;
    left: -45px;
    bottom: 200px;
  }

  .tohover:hover{
    transform: scale(1.05);
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
 }

 .melody:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
 }
 
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
 }